@layout('layouts/main')
@set('title', 'Home page')

@section('containt')
<div class="">
  {{-- <h1>hello</h1> --}}
  <div class="bg-image bgimage">
      <h1 class="time">{{new Date().toLocaleString()}}</h1>
  </div>
</div>
@end